<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= name %></title>
    <meta charset="utf-8">
    <meta name="author" content="huyaxiong">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <!--<link rel="icon" href="../images/x.jpg" type="image/jpeg">-->
    <!--<link rel="shortcut icon" href="../images/x.jpg" type="image/jpeg">-->
    <link rel="stylesheet" href="../stylesheets/<%= name %>.css">
</head>
<body>



<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/foundation-sites/dist/foundation.min.js"></script>
<script src="../bower_components/lodash/lodash.min.js"></script>
<script src="../bower_components/moment/min/moment.min.js"></script>
<script src="../bower_components/EaselJS/lib/easeljs-0.8.2.min.js"></script>
<script src="../bower_components/TweenJS/lib/tweenjs-0.6.2.min.js"></script>
<script src="../bower_components/PreloadJS/lib/preloadjs-0.6.2.min.js"></script>
<script src="../bower_components/SoundJS/lib/soundjs-0.6.2.min.js"></script>
<script src="../bower_components/gsap/src/minified/TweenLite.min.js"></script>
<script src="../bower_components/gsap/src/minified/TimelineLite.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
</body>
</html>