<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= name %></title>
    <meta charset="utf-8">
    <meta name="author" content="huyaxiong">
    <meta name="description" content="">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <!--<link rel="icon" href="../images/x.jpg" type="image/jpeg">-->
    <!--<link rel="shortcut icon" href="../images/x.jpg" type="image/jpeg">-->
    <link rel="stylesheet" href="../stylesheets/<%= name %>.css">
</head>
<body>



<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/foundation-sites/dist/foundation.min.js"></script>
</body>
</html>