@import "framework";
@import "util";


body {
  height: 100%;
  background-color: $ghost;
<<<<<<< HEAD
}
=======
  max-width: $large-breakpoint;
  margin: auto;

  //@include susy-breakpoint($mobile, $susy-mobile) {
  //
  //}
}
>>>>>>> b1f75eb66f5ce5b3e2fe5ca11cac0a7004c292ab
