<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/test.css">
</head>
<body>

<h1>Questionnaire</h1>

<div class="row">
    <h3>Question 1:A,B,C or D?</h3>

    <div>
        <input type="radio" name="pokemon" value="A"><label>A</label>
        <input type="radio" name="pokemon" value="B"><label>B</label>
        <input type="radio" name="pokemon" value="C"><label>C</label>
        <input type="radio" name="pokemon" value="D"><label>B</label>
    </div>
</div>


<div id="submit-container">
    <label for="mobile">Mobile:</label>
    <input id="mobile" type="text" maxlength="11">
    <a href="#" class="tiny button" onclick="submit()">Submit</a>
</div>



<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>

<script src="../bower_components/EaselJS/lib/easeljs-0.8.2.min.js"></script>
<script src="../bower_components/TweenJS/lib/tweenjs-0.6.2.min.js"></script>
<script src="../bower_components/PreloadJS/lib/preloadjs-0.6.2.min.js"></script>
<script src="../bower_components/SoundJS/lib/soundjs-0.6.2.min.js"></script>

<!--<script src="../bower_components/jquery/dist/jquery.min.js"></script>-->
<!--<script src="../bower_components/foundation-sites/dist/foundation.min.js"></script>-->

<script src="../bower_components/lodash/lodash.min.js"></script>
<script src="../bower_components/moment/min/moment.min.js"></script>
<script src="../scripts/test.js"></script>
</body>
</html>