* {
  box-sizing: border-box;
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  margin: 0;
  position: relative;
  height: 100%;
  font-family: "Helvetica", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

a {
  display: inline-block;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

figure {
  margin: 0;
}

p {
  margin: 0;
  word-wrap: break-word;
}

[v-cloak] {
  display: none;
}

dl, dt, dd {
  margin: 0;
}

form {
  margin: 0;
}