<html>
<head>
    <title>该页面无法访问,亲</title>
    <meta charset="utf-8">
    <meta name="author" content="hugh">
    <meta name="description" content="该页面无法访问,亲">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
</head>
<style>
    body{
        margin: auto;
        height: 100%;
        background-color: #9adbed;
        background-image: url("image/404.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
</style>
<body>
</body>
</html>