{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2
      }
    ],
    "@babel/plugin-proposal-object-rest-spread",
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathSuffix": "./backend/",
            "rootPathPrefix": "~"
          },
          {
            "rootPathSuffix": "./src/",
            "rootPathPrefix": "@"
          }
        ]
      }
    ]
  ]
}
