{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "./src/",
        "rootPathPrefix": "~"
      }
    ]
  ]
}