{
  "presets": [
    ["env", {"modules": false}]
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "./src/",
        "rootPathPrefix": "~"
      }
    ]
  ]
}